.header {
    .header-content {
        background: #0064eb;
        padding: 16px 41px;
        display: flex;

        .logo {
            margin-right: 22px;
        }

        .input-search-container {
            .icon-search {
                position: absolute;
                padding: 13px 11px 12px 19px;
            }

            .input-search {
                width: 500px;
                height: 40px;
                outline: none;
                border-radius: 6px;
                border: none;
                padding-left: 41px;
                padding-right: 12px;
                padding-bottom: 2px;

                &::placeholder {
                    font-size: 14px;
                }
            }
        }
    }

    .error-section {
        margin-top: 28px;
        height: 85vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .error-icon {
            width: 110px;
            height: 110px;
            filter: opacity(0.5);
        }

        .error-message {
            margin-top: 48px;
            font-size: 22px;
            color: #808080;
            margin-top: 48px;
            text-align: center;
            padding: 0 15px
        }
    }
}

@media (max-width: 640px) {
    .input-search {
        width: 100% !important;
    }
}