.header {
    .header-content {
        background: #0064eb;
        padding: 16px 41px;
        display: flex;

        .logo {
            margin-right: 22px;
        }

        .input-search-container {
            .icon-search {
                position: absolute;
                padding: 13px 11px 12px 19px;
            }

            .input-search {
                width: 500px;
                height: 40px;
                outline: none;
                border-radius: 6px;
                border: none;
                padding-left: 41px;
                padding-right: 12px;
                padding-bottom: 2px;

                &::placeholder {
                    font-size: 14px;
                }
            }
        }
    }
}

@media (max-width: 640px) {
    .input-search {
        width: 100% !important;
    }
}